html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.2em;
  font-family: 'Inconsolata', monospace;
  font-size: 5em;
  color: white;
  background: rgba(0, 0, 255, 1);
  cursor: pointer;
  border: 0;
}

button:focus {
  outline: 0;
}

button:active {
  background: rgba(0, 0, 255, 0.9);
}